*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container{
    background-color:pink;
    width: 60%;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: rebeccapurple;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.heading{
    letter-spacing: 2px;
    font-size: 38px;

}
.joke{
    margin: 50px;
    font-size: 25px;
}
.jokeButton{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: chocolate;
    font-size: 18px;
    cursor: pointer;
    background-color: gainsboro;
    text-transform: uppercase;
}
.jokeButton:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
